
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.ax {

  &:hover .ax--icon {
    background-color: darken($secondary-color, 10%);
  }

  .ax--left {
    a {
      color: $main-color;
    }
    a:visited {
      color: lighten($main-color, 30%);
    }
  }

  .ax--icon {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: $main-color;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    &:visited {
      background-color: lighten($secondary-color, 10%);
    }
  }
}

.comments {
  position: relative;
  .ax--icon-small {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: $main-color;
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    &:visited {
      background-color: lighten($secondary-color, 10%);
    }
  }
}
